@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

@font-face {
  font-family: "Ownglyph_ryuttung-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DepartureMono-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2409-1@1.0/DepartureMono-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "DepartureMono-Regular";
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
  color: #fff;
  background-color: #1f2029;
  overflow: hidden;
  height: 100vh;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  perspective: 800px;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
::selection {
  color: #c4c3ca;
  background-color: #000;
}
::-moz-selection {
  color: #c4c3ca;
  background-color: #000;
}
:before,
:after {
  position: absolute;
  content: "";
}
.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* #Cursor
 ================================================== */

.cursor,
.cursor2,
.cursor3 {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.cursor {
  background-color: #fff;
  height: 0;
  width: 0;
  z-index: 99999;
}
.cursor2,
.cursor3 {
  height: 36px;
  width: 36px;
  z-index: 99998;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.cursor2.hover,
.cursor3.hover {
  -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
  transform: scale(2) translateX(-25%) translateY(-25%);
  border: none;
}
.cursor2 {
  border: 2px solid #fff;
}
.cursor2.hover {
  background: rgba(255, 255, 255, 1);
  border-color: transparent;
}

@media screen and (max-width: 1200px) {
  .cursor,
  .cursor2,
  .cursor3 {
    display: none;
  }
}

/* #Primary style
 ================================================== */

.hero-section {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  transform: scale(1) rotateX(0);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
  transform-origin: center top;
}
.hero-section h1 {
  color: #fff;
  font-size: 5vw;
  line-height: 1.5;
  font-weight: 900;
  height: 6vw;
  font-family: "Ownglyph_ryuttung-Rg";
}
.hero-section .dancing {
  font-family: "DepartureMono-Regular";
  letter-spacing: 1px;
  color: #866baf;
  font-size: 3vw;
  line-height: 1;
  font-weight: 700;
}
@media screen and (max-width: 580px) {
  .hero-section h1 {
    font-size: 8vw;
    height: 8.5vw;
  }
  .hero-section .dancing {
    font-size: 4vw;
  }
}
.hero-section p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
}
.hero-section p span {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 35px;
}
.hero-section p span:before {
  /* position: absolute;
  content: ""; */
  bottom: 10px;
  left: 50%;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  background-image: url("http://www.ivang-design.com/svg-load/portfolio/down.svg");
  opacity: 0.2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.hero-section p span:hover:before {
  opacity: 1;
  bottom: 5px;
}

body.about-on .hero-section {
  transform: scale(0.75);
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
body.contact-on .hero-section {
  transform: scale(0.75);
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
body.port-on .hero-section {
  transform: rotateX(-10deg);
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
body.practice-on .hero-section {
  transform: rotateX(-10deg);
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}

.about-text {
  position: absolute;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  top: 50%;
  left: 40px;
  cursor: pointer;
  z-index: 2;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  transform: translateY(-50%);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.about-text:before {
  top: 50%;
  left: -25px;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  background-image: url("http://www.ivang-design.com/svg-load/portfolio/left.svg");
  opacity: 0.2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.about-text:hover:before {
  opacity: 1;
  left: -30px;
}
.about-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  overflow: hidden;
  height: 100vh;
  background-color: rgba(31, 32, 41, 1);
  transform: translateX(-100%);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  z-index: 10;
}
body.about-on .about-section {
  transform: translateX(0);
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
.about-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  display: block;
  overflow: hidden;
  height: 30px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
  background-image: url("http://www.ivang-design.com/svg-load/portfolio/close.svg");
  cursor: pointer;
  z-index: 11;
}
.about-close:hover {
  transform: rotate(90deg);
}
.section-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.about-section img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.about-section p span {
  font-family: "Dancing Script", cursive;
  letter-spacing: 1px;
  color: #866baf;
  font-size: 25px;
  font-weight: 400;
}

.contact-text {
  position: absolute;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  top: 50%;
  right: 40px;
  cursor: pointer;
  z-index: 2;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  transform: translateY(-50%) rotate(180deg);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.contact-text:before {
  top: 50%;
  left: -25px;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  background-image: url("http://www.ivang-design.com/svg-load/portfolio/left.svg");
  opacity: 0.2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.contact-text:hover:before {
  opacity: 1;
  left: -30px;
}
.contact-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  overflow: hidden;
  height: 100vh;
  background-color: rgba(31, 32, 41, 1);
  transform: translateX(100%);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  z-index: 10;
}
body.contact-on .contact-section {
  transform: translateX(0);
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
.contact-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  display: block;
  overflow: hidden;
  height: 30px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
  background-image: url("http://www.ivang-design.com/svg-load/portfolio/close.svg");
  cursor: pointer;
  z-index: 11;
}
.contact-close:hover {
  transform: rotate(90deg);
}
.contact-section p {
  margin: 0 auto;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  font-family: "Ownglyph_ryuttung-Rg";
  line-height: 1.2;
}
.contact-section .social a {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #866baf;
}
@media screen and (max-width: 580px) {
  .contact-section a {
    font-size: 17px;
  }
  .contact-section .social a {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 13px;
    letter-spacing: 0;
  }
}

.practice-section,
.port-section {
  position: fixed;
  top: 100%;
  left: 0;
  padding: 100px 0;
  width: 100%;
  height: 100vh;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(31, 32, 41, 1);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  z-index: 10;
}

.practice-close,
.port-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  display: block;
  overflow: hidden;
  height: 30px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
  background-image: url("http://www.ivang-design.com/svg-load/portfolio/close.svg");
  cursor: pointer;
  z-index: 11;
}

.practice-close:hover,
.port-close:hover {
  transform: rotate(90deg);
}
body.practice-on .practice-section {
  top: 0;
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
body.port-on .port-section {
  top: 0;
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
body.port-on.project-on,
body.practice-on.project-on {
  perspective: none !important;
}
body.port-on.project-on .port-section {
  overflow-y: hidden;
}

.practice-section img,
.port-section img {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.practice-section h3,
.port-section h3 {
  font-size: 44px;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}
.practice-section p,
.port-section p {
  font-size: 1.215rem;
  line-height: 1.7;
  letter-spacing: 1px;
  font-family: "Ownglyph_ryuttung-Rg";
}
.practice-section p span,
.port-section p span {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
  color: #866baf;
}
.port-section .project .img-box,
.practice-section .project .img-box {
  cursor: pointer;
  width: 100%;
  position: relative;
}
.port-section .project .img-box:after,
.practice-section .project .img-box:after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 0;
  z-index: 2;
  transition: all 0.3s;
}
.port-section .project .img-box:hover:after,
.practice-section .project .img-box:hover:after {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}
.port-section .project .img-box .info,
.practice-section .project .img-box .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 20px 0 0 0;
  z-index: 3;
  line-height: 1.2;
  opacity: 0;
  transition: all 0.3s;
}
.port-section .project .img-box:hover .info,
.practice-section .project .img-box:hover .info {
  opacity: 1;
}

.port-section .project .img-box .info:before,
.practice-section .project .img-box .info:before {
  top: -46px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-image: url(../img/more.png);
  background-size: cover;
  color: #000;
}
.port-section .project p,
.practice-section .project p {
  font-family: "Ownglyph_ryuttung-Rg";
  text-align: center;
  margin-top: 10px;
}

#myModal {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
}
#myModal.modal-on {
  visibility: visible;
  opacity: 1;
}
#myModal.modal-on .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 74vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
#myModal.modal-on .modal-content .close {
  position: absolute;
  top: -17px;
  right: -12px;
  width: 32px;
  height: 32px;
  z-index: 1;
  background: #f7f7f7;
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
#myModal .modal-content .close:before,
#myModal .modal-content .close:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  background: #333;
  border-radius: 1rem;
}
#myModal .modal-content .close:before {
  width: 22px;
  height: 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
#myModal .modal-content .close:after {
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%) rotate(132deg);
}
#myModal.modal-on .tit {
  font-family: "Ownglyph_ryuttung-Rg";
  display: flex;
  justify-content: space-between;
  margin: 10px auto 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 98%;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
#myModal.modal-on .tit p {
  margin: 0;
  color: #1f2029;
  font-size: 1.215rem;
}
#myModal.modal-on .tit p:not(.txt) {
  background: #3b7cca;
  display: inline-block;
  padding: 0 14px 0 16px;
  margin: 0 0 10px 11px;
  border-radius: 9px;
  color: #fff;
  position: relative;
}
#myModal.modal-on .tit p:not(.txt):before {
  content: "";
  display: block;
  height: 27px;
  width: 27px;
  position: absolute;
  left: -8px;
  top: 2px;
  border-radius: 9px;
  transform: rotate(45.1deg);
  background: #3b7cca;
  z-index: -1;
}
#myModal.modal-on .tit p:not(.txt):after {
  content: "";
  display: block;
  background: #fff;
  height: 8px;
  width: 8px;
  position: absolute;
  left: 0px;
  top: 11px;
  border-radius: 100%;
}
#myModal.modal-on .tit .txt {
  color: #866baf;
}
#myModal.modal-on .tit .right_tit {
  margin-bottom: 0;
  padding: 0;
}
#myModal.modal-on .tit .right_tit li {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 60px;
}
#myModal.modal-on .tit .right_tit li:before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: #866baf;
  transition: all 0.5s ease-out;
}
#myModal.modal-on .tit .right_tit li:hover:before {
  opacity: 0;
}
#myModal.modal-on .tit .right_tit li a {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  border: 1px solid #866baf;
  transition: all 0.5s;
}
#myModal.modal-on .tit .right_tit li a:hover {
  color: #866baf;
}
#myModal.modal-on .tit .right_tit li a:before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}
#myModal.modal-on .tit .right_tit li a:hover:before {
  opacity: 0;
}
#myModal.modal-on .img_box {
  overflow-y: auto;
  height: calc(100vh - 450px);
}
/*scrollbar-*/
#myModal.modal-on .img_box::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}
#myModal.modal-on .img_box::-webkit-scrollbar-thumb {
  background-color: rgba(186, 186, 192, 0.5);
  border-radius: 16px;
}
#myModal.modal-on .img_box::-webkit-scrollbar-track {
  background-color: #fff;
}
/* #myModal.modal-on .img_box::-webkit-scrollbar-thumb:hover {
  background-color: rgba(160, 160, 165, 0.5);
} */
#myModal.modal-on .img_box::-webkit-scrollbar-button {
  display: none;
}
#myModal.modal-on .img_box img {
  width: 100%;
}
@media (max-width: 1200px) {
  #myModal .modal-content {
    max-width: 90vw;
  }
}
@media (max-width: 720px) {
  #myModal.modal-on .modal-content {
    max-width: 95vw;
  }
  #myModal.modal-on .modal-content .modals {
    padding-top: 20px;
  }
  #myModal.modal-on .modal-content .close {
    position: absolute;
    top: 14px;
    right: 12px;
  }
  #myModal.modal-on .tit {
    flex-direction: column;
    padding-bottom: 20px;
  }
  #myModal.modal-on .tit p {
    text-align: center;
  }
  #myModal.modal-on .tit p:not(.txt) {
    left: 50%;
    transform: translate(-50%);
  }
  #myModal.modal-on .tit .txt {
    line-height: 1.2;
    margin-bottom: 10px;
  }
  #myModal.modal-on .img_box {
    height: calc(100vh - 260px);
  }
}
